<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your one stop platform</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/static/styles/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/6-filters.css">
    <link rel="stylesheet" href="/static/styles/8-places.css">

        <!-- Import jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

      <!-- Import custom Javascript -->
    <script type="text/javascript" src="/static/js/script.js"></script>


</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">
        <div class="header-btn-group">

          <button class="search-btn" aria-label="Search">
            <ion-icon name="search"></ion-icon>
          </button>

          <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
            <ion-icon name="menu-outline"></ion-icon>
          </button>

        </div>

      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="#" class="logo">
              <img src="static/gallery/rolands-varsbergs.jpg" alt="Tourly logo">
            </a>

            <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <ul class="navbar-list">

            <li>
              <a href="#home" class="navbar-link" data-nav-link>home</a>
            </li>

            <li>
              <a href="#" class="navbar-link" data-nav-link>about us</a>
            </li>

            <li>
              <a href="#destination" class="navbar-link" data-nav-link>activities</a>
            </li>

            <li>
              <a href="#package" class="navbar-link" data-nav-link>packages</a>
            </li>

            <li>
              <a href="#gallery" class="navbar-link" data-nav-link>gallery</a>
            </li>

            <li>
              <a href="#contact" class="navbar-link" data-nav-link>contact us</a>
            </li>

          </ul>

        </nav>

        <button class="btn btn-primary">Check availability</button>

      </div>
    </div>

  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <h2 class="h1 hero-title">Journey to explore Mzansi</h2>

          <p class="hero-text">
    Zkhipani is a platform designed for travelers who visit smaller towns and cities and want to discover the best local food, entertainment, and activities.
    It aims to provide access to authentic and affordable experiences, including traditional and home-cooked cuisine, as well as lesser-known but high-quality attractions.
    if you're tired of overpriced and bland options while traveling, Zkhipani can help you find the hidden gems and local favorites in these places.
          </p>

          <div class="btn-group">
            <button class="btn btn-primary">Contact Us</button>

          </div>

        </div>
      </section>





      <!-- 
        - #TOUR SEARCH
      -->

      <section class="tour-search">
        <div class="container">

          <section class="filters">
            <div class="locations">
    	        <h3>States</h3>
            	<h4>&nbsp;</h4>
	            <div class="popover">
	              <ul>
	                {% for state in states %}
	                <li>
		                <h2>{{ state[0].name }}:</h2>
		                <ul>
              		    {% for city in state[1] %}
		                  <li><input type="checkbox" data-id="{{ city_id }}" data-name="{{ city_name }}" > {{ city.name }}</li>
	                {% endfor %}
		                </ul>
	                </li>
	                {% endfor %}
	              </ul>
	            </div>
	          </div>
	          <div class="amenities">
	            <h3>Activities</h3>
	            <h4>&nbsp;</h4>
	            <div class="popover">
	              <ul>
	                {% for activity in activities %}
	                <li><input type="checkbox" data-id="{{ activity_id }}" data-name="{{ activity_name }}"> {{ activity.name }}</li>
	                {% endfor %}
	              </ul>
	            </div>
            </div>
            <button type="button">
              Search
            </button>
</section>
      <section class="places">
      </section>
                </section>
            <div class="input-wrapper">
              <label for="people" class="input-label">No.of Persons*</label>

              <input type="number" name="people" id="people" required placeholder="No.of People" class="input-field">
            </div>

            <div class="input-wrapper">
              <label for="checkin" class="input-label">Date*</label>

              <input type="date" name="checkin" id="checkin" required class="input-field">
            </div>

            <button type="submit" class="btn btn-secondary">Check availability</button>

          </form>

        </div>
      </section>


      <!-- 
        - #POPULAR
      -->

      <section class="popular" id="destination">
        <div class="container">

          <p class="section-subtitle">Activities</p>

          <h2 class="h2 section-title">Popular Activities</h2>

          <p class="section-text">
            Majestic open spaces, sun-soaked coasts, bucket-list activities and the finest hidden gems waiting for you to discover them.
             Our provinces have everything and more. So, where do you want to go today?
          </p>

          <ul class="popular-list">

            <li>
              <div class="popular-card">

                <figure class="card-img">
                  <img src="static/gallery/glamping.jpeg" alt="San miguel, italy" loading="lazy">
                </figure>

                <div class="card-content">

                  <div class="card-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="card-subtitle">
                    <a href="s://shotleft.co.za/deals/parys-glamping-adventure">Adventure</a>
                  </p>

                  <h3 class="h3 card-title">
                    <a href="https://shotleft.co.za/deals/parys-glamping-adventure">Parys Glamping Adventure</a>
                  </h3>

                  <p class="card-text">
                    Come enjoy a slow glamping adventure. River Raft on the mysterious Vaal River, 
                    Hike the ancient terrain all nestled in the Vredefort Dome World Heritage Site. A two billion year old site.
                  </p>

                </div>

              </div>
            </li>

            <li>
              <div class="popular-card">

                <figure class="card-img">
                  <img src="static/gallery/bokone.jpeg" alt="Burj khalifa, dubai" loading="lazy">
                </figure>

                <div class="card-content">

                  <div class="card-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="card-subtitle">
                    <a href="/shotleft.co.za/deals/tour-of-bakone-malapa-open-air-museum">Cultural discoveries</a>
                  </p>

                  <h3 class="h3 card-title">
                    <a href="https://shotleft.co.za/deals/tour-of-bakone-malapa-open-air-museum">Bakone Malapa Open Air Museum</a>
                  </h3>

                  <p class="card-text">
                    Regarded as a living museum, the Bakone Malapa Northern Sotho Open-Air Museum near 
                    Polokwane is one of several museums and national monuments that bear testimony to South Africa's peoples
                  </p>

                </div>

              </div>
            </li>

            <li>
              <div class="popular-card">

                <figure class="card-img">
                  <img src="static/gallery/oyster-box.jpg" alt="Kyoto temple, japan" loading="lazy">
                </figure>

                <div class="card-content">

                  <div class="card-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="card-subtitle">
                    <a href="https://shotleft.co.za/deals/oyster-box">Coastal getaways</a>
                  </p>

                  <h3 class="h3 card-title">
                    <a href="https://shotleft.co.za/deals/oyster-box">Oyster Box</a>
                  </h3>

                  <p class="card-text">
                    Occupying a majestic location on the Umhlanga beachfront in KwaZulu-Natal province, 
                    The Oyster Box is famous for its remarkable coastal views
                  </p>

                </div>

              </div>
            </li>

            
            <li>
                <div class="popular-card">
  
                  <figure class="card-img">
                    <img src="static/gallery/rolands-varsbergs.jpg" alt="Bush" loading="lazy">
                  </figure>
  
                  <div class="card-content">
  
                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
  
                    <p class="card-subtitle">
                      <a href="https://shotleft.co.za/deals/dinokeng-safari-@lookout">Bush retreats</a>
                    </p>
  
                    <h3 class="h3 card-title">
                      <a href="https://shotleft.co.za/deals/dinokeng-safari-@lookout">Dinokeng Safari @Lookout</a>
                    </h3>
  
                    <p class="card-text">
                        Safari Lodge is nestled within the malaria-free Dinokeng Game Reserve, near the town of Hammanskraal and just 52 km from Pretoria.
                         This popular tourist destination is rich in traditional culture, history, and wildlife
                    </p>
  
                  </div>
  
                </div>
              </li>

              
            
            <li>
                <div class="popular-card">
  
                  <figure class="card-img">
                    <img src="static/gallery/drakensberg.jpg" alt="Drakensberg" loading="lazy">
                  </figure>
  
                  <div class="card-content">
  
                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
  
                    <p class="card-subtitle">
                      <a href="https://shotleft.co.za/deals/drakensberg-mountain-retreat-">Mountain escapes</a>
                    </p>
  
                    <h3 class="h3 card-title">
                      <a href="https://shotleft.co.za/deals/drakensberg-mountain-retreat-">DRAKENSBERG MOUNTAIN RETREAT</a>
                    </h3>
  
                    <p class="card-text">
                        Experience tranquility at Drakensberg Mountain Retreat and adventure at Premier Resort Sani Pass with our exciting package.
                    </p>
  
                  </div>
  
                </div>
              </li>

                
            <li>
                <div class="popular-card">
                    
                  <figure class="card-img">
                    <img src="static/gallery/aditya-chinchure.jpg" alt="Kyoto temple, japan" loading="lazy">
                  </figure>
  
                  <div class="card-content">
  
                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
  
                    <p class="card-subtitle">
                      <a href="https://www.facebook.com/EyadiniLoungenuz/">Night Life escape</a>
                    </p>
  
                    <h3 class="h3 card-title">
                      <a href="https://www.facebook.com/EyadiniLoungenuz/">EYADINI AND MAX LIFESTYLE </a>
                    </h3>
  
                    <p class="card-text">
                       Experience the Durban night in the most popular clubs with Great music, delicious food, a fountain of drinks, lots of selfies, 
                       friendly and trendy fun-lovers with smiles all around. No matter your type of fun you sure will have a night to remember
                    </p>
  
                  </div>
  
                </div>
              </li>
          </ul>
          <a href="https://www.tripadvisor.com/Attractions-g293740-Activities-South_Africa.html">
          <button class="btn btn-primary" target="_blank">Explore more</button></a>

        </div>
      </section>




      <section class="gallery" id="gallery">
        <div class="container">

          <p class="section-subtitle">Photo Gallery</p>

          <h2 class="h2 section-title">Experience with your eyes</h2>

          <p class="section-text">
            Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum cumque laudantium.
            Sit ornare
            mollitia tenetur, aptent.
          </p>

          <ul class="gallery-list">

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="static/gallery/table-mountain.jpg" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="static/gallery/paragliding.jpg" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="static/gallery/wine-tasting.jpg" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="static/gallery/red-bus.jpg" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="static/gallery/cultural-attire.jpg" alt="Gallery image">
              </figure>
            </li>

          </ul>

        </div>
      </section>


      <!-- 
        - #PACKAGE
      -->

      <section class="package" id="package">
        <div class="container">

          <p class="section-subtitle">Popular Packages</p>

          <h2 class="h2 section-title">Check Our Packages</h2>

          <p class="section-text">
            Discover the allure of our carefully selected activities, designed to immerse you in the heart of your chosen destination. 
            From adrenaline-pumping adventures to cultural explorations and serene getaways,
             we've tailored each package to cater to your unique interests and preferences.
          </p>

          <ul class="package-list">

            <li>
              <div class="package-card">

                <figure class="card-banner">
                  <img src="static/gallery/hot-air-balloon.jpg" alt="Experience The Great Holiday On Beach" loading="lazy">
                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">Experience The Great hot air Balloon</h3>

                  <p class="card-text">
                    Experience serene beauty of floating gently over the Cradle of Humankind or the Magaliesberg, 
                    while sipping on champagne, as the pilot allows the hot air balloon at times to drift at tree top height and at other times will ascend into the skies,
                     offering guests a panoramic view of the beautiful African landscape below. 
                  </p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="time"></ion-icon>

                        <p class="text">7D/6N</p>
                      </div>
                    </li>

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="people"></ion-icon>

                        <p class="text">No: 10</p>
                      </div>
                    </li>

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="location"></ion-icon>

                        <p class="text">Magaliesberg</p>
                      </div>
                    </li>

                  </ul>

                </div>

                <div class="card-price">

                  <div class="wrapper">

                    <p class="reviews">(25 reviews)</p>

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                  </div>

                  <p class="price">
                    R750
                    <span>/ per person</span>
                  </p>

                  <button class="btn btn-secondary" onclick="window.location.href='https://www.air-ventures.co.za/activities/classic-flight/'">Reserve Now</button>

                </div>

              </div>
            </li>

            <li>
              <div class="package-card">

                <figure class="card-banner">
                  <img src="static/gallery/safari.jpg" alt="Summer Holiday To The Oxolotan River" loading="lazy">
                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">Beat the exchange rate and GO LOCAL </h3>

                  <p class="card-text">
                    Amakhosi in the heart of Zululand on the Mkuze river , 6 river suites 2 honeymoon suites and a private house experience! 
                    Special includes River suite accommodation sharing Brunch, high tea and dinner 2 game drives
                  </p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="time"></ion-icon>

                        <p class="text">7D/6N</p>
                      </div>
                    </li>

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="people"></ion-icon>

                        <p class="text">No: 10</p>
                      </div>
                    </li>

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="location"></ion-icon>

                        <p class="text">KwaZulu-Natal</p>
                      </div>
                    </li>

                  </ul>

                </div>

                <div class="card-price">

                  <div class="wrapper">

                    <p class="reviews">(20 reviews)</p>

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                  </div>

                  <p class="price">
                    R520
                    <span>/ per person</span>
                  </p>

                  <button class="btn btn-secondary" target="blank" onclick="window.location.href='https://www.amakhosi.com/'">Reserve Now</button>

                </div>

              </div>
            </li>

            <li>
              <div class="package-card">

                <figure class="card-banner">
                  <img src="static/gallery/wine-tasting.jpeg" alt="Santorini Island's Weekend Vacation" loading="lazy">
                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">Wine Retreat in Franschhoek</h3>

                  <p class="card-text">
                    2 nights in a Luxury Room 2 adults sharing Breakfast daily Valid till 18 December 2023.
                     Hop-on-hop-off Wine tram, exploring the Franschhoek wine valley.
                  </p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="time"></ion-icon>

                        <p class="text">2D/1N</p>
                      </div>
                    </li>

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="people"></ion-icon>

                        <p class="text">No: 2</p>
                      </div>
                    </li>

                    <li class="card-meta-item">
                      <div class="meta-box">
                        <ion-icon name="location"></ion-icon>

                        <p class="text">Haarties</p>
                      </div>
                    </li>

                  </ul>

                </div>

                <div class="card-price">

                  <div class="wrapper">

                    <p class="reviews">(40 reviews)</p>

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                  </div>

                  <p class="price">
                    R660
                    <span>/ per person</span>
                  </p>

                  <button class="btn btn-secondary" onclick="window.location.href='https://holdenmanz.com/pages/wine-dine'">Reserve Now</button>

                </div>

              </div>
            </li>

          </ul>

          <button class="btn btn-primary">View All Packages</button>

        </div>
      </section>


      <!-- 
        - #CTA
      -->

      <section class="cta" id="contact">
        <div class="container">

          <div class="cta-content">
            <p class="section-subtitle">Meet the team</p>

            <h2 class="h2 section-title">Ready For Unforgatable Experience. Remember Us!</h2>

            <p class="section-text">
              
            </p>
          </div>

          <button class="btn btn-secondary">Contact Us !</button>

        </div>
        
      </section>

    </article>
  </main>


  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 <a href="">grey550</a>. All rights reserved
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Term & Condition</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">FAQ</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="static/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
